<!--Main layout-->
<div class="container">
  <!--Section: News of the day-->
  <section class="border border-dark  py-3 mt-3 mb-5 h-25 " style="height: 40vh;">
    <div class="row gx-5 mainBorder" (click)="detailArticle(id,mainCategory)">
      <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5 mx-5 mt-2" data-mdb-ripple-color="light">
          <img src={{mainImg}} class="img-fluid h-15" style="height:40vh;"  />
         
        </div>
      </div>

      <div class="col-md-6 ">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
        <h4><strong>{{mainHeadline}}</strong></h4>
        <p class="text-muted" [innerHTML]="mainArticle | slice:0:1100">
          ...{{mainArticle | slice:0:800}}
        </p>. . . . .
        <span><button type="button" class="btn btn-link" (click)="detailArticle(id,mainCategory)">Read more</button>
            <button class="btn btn-outline-success btn-sm" (click)="editArticle(id)">Edit</button>
      <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle(id)">Delete</button>
        </span>
      </div>
    </div>
  </section>


  <div class="row row-cols-1 row-cols-md-3 g-4" (click)="detailArticle(id1, mainCategory)">
    <div class="col">
      <div class="card h-100 border-1 shadow">
        <img src="{{ mainImg1 }}" class="card-img-top image rounded" alt="Skyscrapers" />
        <div class="card-body">
          <h3 class="card-title"><b>{{mainHeadline1}}</b></h3>
          <p class="card-text" [innerHTML]="mainArticle1 | slice:0:900">{{mainArticle1 | slice:0:550}}...</p>
          <span><p>. . .</p><button class="btn btn-outline-primary btn-sm" (click)="detailArticle(id1, mainCategory)">Read more</button></span>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success btn-sm" (click)="editArticle(id1)">Edit</button>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle(id1)">Delete</button>

        </div>
      </div>
    </div>
  
    <div class="col" (click)="detailArticle(id2, mainCategory)">
      <div class="card h-100 border-2 shadow">
        <img src="{{ mainImg2 }}" class="card-img-top image rounded" alt="Los Angeles Skyscrapers" />
        <div class="card-body">
          <h3 class="card-title"><b>{{mainHeadline2}}</b></h3>
          <p class="card-text" [innerHTML]="mainArticle2 | slice:0:900">{{mainArticle2 | slice:0:250}}</p>
          <span><p>. . .</p><button class="btn btn-outline-primary btn-sm" (click)="detailArticle(id2, mainCategory)">Read more</button></span>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success btn-sm" (click)="editArticle(id2)">Edit</button>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle(id2)">Delete</button>

        </div>
      </div>
    </div>
  
    <div class="col" (click)="detailArticle(id3, mainCategory)">
      <div class="card h-100 border-3 shadow">
        <img src="{{ mainImg3 }}" class="card-img-top image rounded" alt="Palm Springs Road" />
        <div class="card-body">
          <h3 class="card-title"><b>{{mainHeadline3}}</b></h3>
          <p class="card-text" [innerHTML]="mainArticle3 | slice:0:900">{{mainArticle3 | slice:0:250}}</p>
          <span><p>. . .</p><button class="btn btn-outline-primary btn-sm" (click)="detailArticle(id3, mainCategory)">Read more</button></span>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success btn-sm" (click)="editArticle(id3)">Edit</button>
          <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle(id3)">Delete</button>
        </div>
      </div>
    </div>
  </div>
  
  <hr class="mt-3 border-4 shadow">
  
  <div class="row my-4" >
    <div class="col-12 col-sm-4" *ngFor="let rstArticle of otherArticles"  (click)="editArticle(rstArticle._id)"> 
      <img src="{{rstArticle.img}}" alt="" style="height: 10vh;" (click)="detailArticle(rstArticle._id,mainCategory)">
      <p>{{rstArticle.headline}}</p>
      <button class="btn btn-outline-success btn-sm" (click)="editArticle(rstArticle._id)">Edit</button>
      <button class="btn btn-outline-danger btn-sm" (click)="deleteArticle(rstArticle._id)">Delete</button>

    </div>
  </div>
  
  
  
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item pointer" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="prevPage()" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" >
        <a class="page-link">{{ currentPage }}</a>
      </li>
      <li class="page-item pointer" [class.disabled]="otherArticles.length === 0">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>

  
  

</div>