<h1>Add News Page</h1>
<div class="container">
    <div class="card">
        <div class="card-header">
            Add Article
        </div>

        <form action="" [formGroup]="addArticle">
            <div class="card-body">
                <div class="col-12 d-flex justify-content-center">
                    <img *ngIf="imageSrc === ''"
                        src="../../assets/fileUpload.jpg" style="width: 300px;" />
                    <img *ngIf="imageSrc != ''" [src]="imageSrc" alt="example placeholder" style="width: 300px;" />
                </div>

                <div class="text-center">
                    <label class="btn btn-primary btn-rounded col-4 m-3">
                        <input type="file" class="form-control d-none" formControlName="img" (change)="uploadFile($event)" id="customFile1" />
                        Choose file
                    </label>
                </div>

                <div class="col-12">
                    <textarea [froalaEditor]="options2" [(froalaModel)]="content" formControlName="article"></textarea>
                </div>
            </div>
        </form>
        <button class="btn btn-primary" (click)="submitArticle()">Publish Article</button>
    </div>
</div>
