<h1>Add News Page</h1>
<div class="container">
    <div class="card">
        <div class="card-header">
            Add Article
        </div>

        <form action="" [formGroup]="addArticle">
            <div class="card-body">
                <div class="col-12 d-flex justify-content-center">
                    <img *ngIf="imageSrc === ''"
                        src="../../assets/fileUpload.jpg" style="width: 300px;" />
                    <img *ngIf="imageSrc != ''" [src]="imageSrc" alt="example placeholder" style="width: 300px;" />
                </div>

                <div class="text-center">
                    <label class="btn btn-primary btn-rounded col-4 m-3">
                        <input type="file" class="form-control d-none" formControlName="img" (change)="uploadFile($event)" id="customFile1" />
                        Choose file
                    </label>
                </div>
                <hr>

                <div class="col-12 my-2">
                    <label for="headline" class="d-flex justify-content-start my-2"><b>HeadLine :</b></label>
                    <input type="text" class="form-control" id="headline" formControlName="headline">
                </div>

                <div class="col-4 my-2">
                    <label for="News Category" class="d-flex justify-content-start my-2"><b>News Type:</b></label>
                  
                    <mat-form-field style="width: 100%;">
                      <mat-label>Select News Category</mat-label>
                      <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                  

                <div class="col-12">
                    <label for="article" class="d-flex justify-content-start my-2"><b>Article :</b></label>
                    <textarea [froalaEditor]="options2" [(froalaModel)]="content" formControlName="article"></textarea>
                </div>
            </div>
        </form>
        <div class="text-center my-3">
            <button class="btn btn-success col-4" (click)="submitArticle()">Publish Article</button>
        </div>
    </div>
</div>